#bg-carousel-slide,
#bg-carousel-slide .carousel-inner,
#bg-carousel-slide .carousel-item{
    height: 100%;
}

#bg-carousel-slide .carousel-item{
    position: relative;
    height: 100vh;
    min-height: 100vh;
}

#bg-carousel-slide .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}